body {
background-color: black;
color: white;
}

#consoleInput{
background-color:black;
color: white;
}

#consoleOutput{
background-color: black;
color: white;
resize: none;
}

.form-control {
  border-color: black;
  color: white;
}

.form-control:focus {
  border-color: black;
  color: white;
}